html{
	margin-left: 200px;
	margin-right: 200px;
	background-color: burlywood;
	
}
#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p90{
	display: none;
}
#p1{
	display: block;
}
body{
	
	vertical-align: center;
	text-align: center;
}
header{
	text-align: left;
	
}
#logo{	
	width:100px;
	height:100px;
}
#glud{
	font-size: 50px;
	text-align: right;
	margin-right: 250px;
}
section{
	vertical-align: center;
	text-align: center;
}
h1{
	font-size: 50px;
}
h3{	
	color:brown;
	font-size: 30px;
}
footer{
	white-space: pre;
	text-align: justify;
}
